/* game board table */
body {
  background-color: blanchedalmond;
}


.maincontainer {
  align-self: auto;
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.maincontainer h1 {
  background-color: rgb(241, 76, 76);
}

.game {
  align-self: auto;
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

td {
  width: 50px;
  height: 50px;
  border: solid 1px black;
  background-color: blue;
}

td:hover {
  opacity: 0.5;
}

#column-top {
  background-color: #8497e9cb;
  opacity: 0.5;
}



#game {
  align-self: auto;
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.startButton {
  align-self: auto;
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: blue;
  position: relative;
  animation-name: dropin;
  animation-duration: 1s;
  
}

.player1 {
  background-color: red;
}

.player2 {
  background-color:orange;
}


@keyframes dropin {
  from {
    margin-top: -350px;


  }

  to {

    margin-bottom: 0%;

  }
}



/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

/* TODO: make column-top row lighter and provide hover effect */
